@import "../../styles/variables.scss";

.movie-item {
  display: grid;
  grid-template-columns: 183px 1fr;
  gap: 20px;
  width: 500px;
  min-height: 320px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.movie-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.rating {
  position: absolute;
  top: 6px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.movie-description {
  margin-right: 20px;
  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 220px;
  }
  &__date {
    font-size: $mainsize;
    line-height: 22px;
    color: rgba(130, 126, 126, 1);
    margin-bottom: 7px;
  }
  &__content {
    font-size: $mainsize;
    line-height: 22px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  &__genres {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  &__genre-item {
    font-size: $mainsize;
    line-height: 14px;
    padding: 2px 5px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 2px;
    min-width: 40px;
  }

  &__rating {
    width: 40px;
    height: 40px;
    font-size: $mainsize;
    line-height: 22px;
    border: 3px solid;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 5px;
  }
}
