.movie-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 36px;
    gap: 36px;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}